<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bus Management System</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color:pink;
            background-image:url('C:\49-MST\bus.jpeg');
            margin: 0;
            padding: 0;
        }

        .container {
            width: 50%;
            margin: 50px auto;
            padding: 20px;
            background-color:pink;
            background-image:url('C:\49-MST\bus.jpeg');
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.007);
        }

        h1 {
            text-align: center;
            color: #97704f;
        }

        a {
            display: block;
            text-align: center;
            margin-bottom: 10px;
            text-decoration: none;
            color: #97704f;
            font-weight: bold;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        a:nth-child(odd) {
            background-color: #ccccc4; /* Pastel pink */
        }

        a:nth-child(even) {
            background-color: #ccccc4; /* Pastel blue */
        }

        a:hover {
            background-color:#3e3e33; /* Light gray */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Bus Management System</h1>
        <a href="/bus-details-form">Bus Details Form</a>
        <a href="/driver-details-form">Driver Details Form</a>
        <a href="/trip-details-form">Trip Details Form</a>
        <a href="/bus-details">Bus Details</a>
        <a href="/driver-details">Driver Details</a>
        <a href="/trip-details">Trip Details</a>
</body>
</html>
